@model searching_data.Models.user

@{
    ViewBag.Title = "Index";
}



<div class="col-md-12">
    <div class="container">
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="search_input" onkeyup="search_pro(this)" placeholder="Search" class="form-control" />
            </div>
        </div>
    </div>

    <br />
    <div class="show_search"></div>
</div>
</div>


